<!-- <app-student-login></app-student-login> -->
<!-- <app-student-registration></app-student-registration> -->
<!-- <app-student-home-page></app-student-home-page> -->
<!-- <app-error-component></app-error-component> -->
<!-- <button mat-stroked-button color="accent">click</button>
<p>
    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p> -->
<router-outlet></router-outlet>